@import "~normalize.css/normalize.css";

:root {
  --home-background: url('/images/test1.png');
}

html,
body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  touch-action: manipulation;
  background-color: #fcfcfc;
}