.container {
  color: #fff;
  width: 85%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.8em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}